@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>MENU</h2>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="Index"><span class="badge badge-success">1</span> Home</a>
            <a class="list-group-item list-group-item-action" asp-controller="Home" asp-action="About"><span class="badge badge-success">2</span> About</a>
            <a class="list-group-item list-group-item-action" asp-controller="Country" asp-action="Index"><span class="badge badge-success">3</span> Countrys</a>
        </div>
    </div>

    <div class="col-md-9">
        <h2>AREA</h2>
    </div>
</div>