@{
    ViewData["Title"] = "PrivatePolicy";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p> FROM CONTROLLER: @ViewData["MessageLocalized"]</p>

<p> DIRECTLY FROM TAG HELPER: <button id="btnd" class="btn btn-info"><llv>hello</llv><llv>world</llv></button></p>
<div><llv>hello</llv></div>